<div class="container">
  <form [formGroup]="registrationForm"  class="form-container"[ngStyle]="{backgroundImage:'url()'}">
    <mat-card>
      <div class="header">
          <mat-card-header>
              <mat-card-title>Registration</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-content>
          <div class="content-container">
            <div class="field">
              <mat-form-field>
                <mat-label>Login </mat-label>
                <input matInput formControlName="name" required placeholder="Enter organization name...">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Code </mat-label>
                <input matInput formControlName="code" required placeholder="Enter organization code...">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Address </mat-label>
                <input matInpu formControlName="address" required placeholder="Enter address...">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Phone Number </mat-label>
                <input matInput formControlName="phoneNumber" required placeholder="Enter phone number...">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Description </mat-label>
                <input matInput formControlName="description" required placeholder="Add company description...">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Login </mat-label>
                <input matInput type="Login" formControlName="login" required placeholder="Enter your login...">
              </mat-form-field>
            </div>
            <div class="field">
              <mat-form-field>
                <mat-label>Login </mat-label>
                <input matInput type="Login" formControlName="login" required placeholder="Enter your login...">
              </mat-form-field>
            </div>

          </div>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="submit()" mat-raised-button color="accent">Save</button>
        </mat-card-actions>

    </mat-card>
  </form>
  </div>
