<app-navbar></app-navbar>
<div class="container">
  <div [formGroup]="registrationForm"  class="form-container">
    <mat-card>
      <div class="header">
          <mat-card-header>
              <mat-card-title>Registration</mat-card-title>
          </mat-card-header>
        </div>

        <mat-card-content>
          <div class="content-container">
            <div class="field">
              <mat-form-field>
                <mat-label>Login </mat-label>
                <input matInput formControlName="name" placeholder="Enter organization name...">
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field>
                <mat-label>Code </mat-label>
                <input matInput formControlName="code" placeholder="Enter organization code...">
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field >
                <mat-label>Address </mat-label>
                <input matInpu formControlName="address" placeholder="Enter address...">
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field>
                <mat-label>Phone Number </mat-label>
                <input matInput formControlName="phoneNumber" placeholder="Enter phone number...">
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field>
                <mat-label>Description </mat-label>
                <input matInput formControlName="description" placeholder="Add company description...">
              </mat-form-field>
            </div>

          </div>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="submit()" mat-raised-button color="accent">Save</button>
        </mat-card-actions>

    </mat-card>
  </div>
  </div>
