.back {
  height: 120%;
  padding: 0%;
  margin: 0%;
  width: 100%;
  background-size:cover;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
  min-height: 30%;

}

.left-side {
  width: 20%;
  padding: 1%;
}

.right-side {
  margin: 25px;
  padding-left: 20px;
  text-decoration: none;
  border-style: none;
}

a {
  text-decoration: none;

}
