<div class="back" style="background-image:url(assets/img/bg4.jpg)">
<app-navbar></app-navbar>
<div class="container">
<form [formGroup]="myForm" class="form-container" action="/booking">
  <mat-card>
    <div class="header">
        <mat-card-header>
            <mat-card-title>Book a Flight!</mat-card-title>
        </mat-card-header>
      </div>

      <mat-card-content>
        <div class="content-container">
          <div class="field">
            <mat-form-field>
              <mat-label>Name: </mat-label>
              <input matInput formControlName="name" placeholder="Type your name...">
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <mat-label>Phone number: </mat-label>
              <input matInput formControlName="phoneNumber" placeholder="Type your phone number...">
              <mat-icon matSuffix>phone</mat-icon>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <mat-label>E-mail: </mat-label>
              <input matInput formControlName="email" placeholder="Type your e-mail...">
              <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <mat-label>Choose a date: </mat-label>
              <input matInput formControlName="date" [matDatepicker]="datepicker">
              <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
              </mat-datepicker>
            </mat-form-field>
          </div>

          <div class="field">
            <mat-form-field>
              <mat-label>Choose a place: </mat-label>
              <mat-select [(ngModel)]="selectedLocation" formControlName="location">
                <mat-option *ngFor="let location of locations" [value]="location.startLocation">
                  {{location.startLocation}}
                </mat-option>
              </mat-select>
              <!-- <mat-select [(value)]="selectedLocation" formControlName="location">
                <mat-option *ngFor="let location of locationsList" value="{{location}}">
                  {{location}}
                </mat-option>
              </mat-select> -->
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="createBooking()" mat-raised-button color="accent">Submit</button>
      </mat-card-actions>

  </mat-card>
</form>
</div>
</div>
