
  <mat-toolbar color="primary">
    <span>PARAGLIDING</span>

    <div class="spacer"></div>

    <div class="menu-btn">
      <div class="btn"><a mat-button routerLink="#"  routerLinkActive="active">HOME</a></div>
      <div class="btn"><a mat-button routerLink="#">COMPETITIONS</a></div>
      <div class="btn"><a mat-button routerLink="#">TANDEM</a></div>
      <div class="btn"><a mat-raised-button routerLink="../../views/signin/signin.component" color="accent">SIGN IN</a></div>
    </div>
  </mat-toolbar>

