<div class="toolbar">
  <mat-toolbar color="primary">
    <div class="title">
      <span>PARAGLIDING</span>
    </div>

    <div class="spacer"></div>

    <div class="menu-btn">
      <div class="btn"><a mat-button routerLink="/home-page">HOME</a></div>
      <div class="btn"><a mat-button routerLink="/competitions">COMPETITIONS</a></div>
      <div class="btn"><a mat-button routerLink="/flight-form">TANDEM</a></div>
      <div class="btn"><a mat-raised-button routerLink="/signin" color="accent">SIGN IN</a></div>
    </div>
  </mat-toolbar>
</div>
