<div class="back" style="background-image:url(assets/img/bg11.jpg)">
  <app-navbar></app-navbar>

  <mat-tab-group mat-align-tabs="center">
    <div class="container">

      <!-- flight with instructor -->
      <div class="content">
        <mat-tab label="Fly with us!">
          <mat-card class="card">
            <mat-card-title-group>
              <mat-card-title>Book your flight now</mat-card-title>
              <mat-card-subtitle>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos laboriosam nostrum,
                doloribus quia magnam ad consequatur dicta praesentium quasi debitis suscipit facilis laudantium laborum sint neque?
                Nobis rerum temporibus voluptates!
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </div>

        <!-- table page -->
        <mat-tab label="Take part in a contest!">
          <mat-card class="card">
            <mat-card-title-group>
              <mat-card-title>Upcoming events</mat-card-title>
              <mat-card-subtitle>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos laboriosam nostrum,
                doloribus quia magnam ad consequatur dicta praesentium quasi debitis suscipit facilis laudantium laborum sint neque?
                Nobis rerum temporibus voluptates!
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
                <app-competition-table></app-competition-table>
            </mat-card-content>
          </mat-card>
        </mat-tab>

       <!-- info for organizers -->
      <div class="content">
        <mat-tab label="Organize a competition!">
          <mat-card class="card">
            <mat-card-title-group>
              <mat-card-title>Gather the pilots in one place and give them the opportunity to compete!</mat-card-title>
              <mat-card-subtitle>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos laboriosam nostrum,
                doloribus quia magnam ad consequatur dicta praesentium quasi debitis suscipit facilis laudantium laborum sint neque?
                Nobis rerum temporibus voluptates!
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </mat-tab>

      </div>

    </div>
  </mat-tab-group>

</div>
