<div class="back" style="background-image:url(assets/img/blurred-image-1.jpg)">
  <app-navbar></app-navbar>
  <mat-card class="container">
    <mat-card-title-group>
      <mat-card-title>Next events</mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>

      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos laboriosam nostrum,
        doloribus quia magnam ad consequatur dicta praesentium quasi debitis suscipit facilis laudantium laborum sint neque?
        Nobis rerum temporibus voluptates!</p>

      <!-- <app-competition-table></app-competition-table> -->
      <app-paginated-table></app-paginated-table>
    </mat-card-content>
    <!-- <app-paginated-table></app-paginated-table> -->
  </mat-card>
</div>
