.back {
  height: 120%;
  padding: 0%;
  margin: 0%;
  width: 100%;
  background-size:cover;
}
.container {
  opacity: 0.9;
}

.form-container {
  text-align: center;

  max-width: 40%;
  margin: 30px auto;
  min-height: 60%;
  padding: 30px;
}

 .content-container {
   width: 80%;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
 }

 .field mat-form-field{
   width: 100%;
 }
