<div class="back"style="background-image:url(assets/img/login.jpg)">
<app-navbar></app-navbar>
  <div class="container">
  <form [formGroup]="signinForm"  class="form-container">
    <mat-card>
      <div class="header">
          <mat-card-header>
              <mat-card-title>Sign In!</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-content>
          <div class="content-container">
            <div class="field">
              <mat-form-field>
                <mat-label>Login </mat-label>
                <input matInput type="Login" formControlName="login" required placeholder="Enter your login...">
              </mat-form-field>

            </div>

            <div class="field">
              <mat-form-field>
                <mat-label>Password </mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required placeholder="Enter your password...">
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-form-field>
            </div>

          </div>

        </mat-card-content>
        <mat-card-actions>
          <button (click)="submit()" mat-raised-button color="accent">Sign in</button>
        </mat-card-actions>

    </mat-card>
  </form>
  </div>
</div>
